body {
    font-family: sans-serif;
    background-color: rgb(46, 53, 53);
}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: lightblue;
    padding: 20px;
    font-size: 30px;
    border: 5px solid rgb(72, 94, 94);
    margin: 10px;
    border-radius: 10px;
}
h1{
    text-align: center;
font-size: 40px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgb(255, 115, 0),
    yellow 
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
p {
 text-align: center;   
 color: rgb(245, 210, 13);
}
body {
  background-color: #24292d;
}

.slider {
  position: relative;
  width: 680px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}



.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 340px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}
